.nav-bar{
    background-color: teal;
}

.nav-bar .h{
    left: 200px;
}

.home-page{
    background-color: blue;
}

.about-page{
    background-color: aqua;
}

.signup-page{
    background-color: beige;
}

.contact-page{
    background-color: wheat;
}
